<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ width }}"
  height="{{ height }}" viewBox="0 0 24 22" version="1.1">
  <title>star</title>
  <g id="Homepage---READY-FOR-DEV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="HP-/-Desktop" transform="translate(-649.000000, -4376.000000)" fill="#007CBA">
      <g id="Group-8" transform="translate(0.000000, 4039.000000)">
        <g id="Group-12" transform="translate(300.000000, 120.000000)">
          <g id="Group-3" transform="translate(349.000000, 217.000000)">
            <polygon id="Star"
              points="12 18 4.94657697 21.7082039 6.2936609 13.854102 0.587321804 8.29179607 8.47328849 7.14589803 12 0 15.5267115 7.14589803 23.4126782 8.29179607 17.7063391 13.854102 19.053423 21.7082039" />
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>