{%- liquid
  assign on_sale = false
  assign is_new = false
  assign is_final_sale = false
  assign is_special = false

  for variant in product.variants
    if variant.price < variant.compare_at_price
      assign on_sale = true
      break
    endif
  endfor

  for tag in product.tags
    if tag == 'badge:new'
      assign is_new = true
    endif
    if tag == 'badge:special'
      assign is_special = true
    endif
  endfor
-%}

{%- capture tag_markup -%}
  {%- if product.available == false -%}
    <div class="flex items-center justify-center py-2 px-8 w-max h-8 p-s rounded-sm font-medium" style="color: #ffffff; background-color: #D64123;">
      <span>OUT OF STOCK</span>
    </div>
  {%- elsif on_sale -%}
    <div class="flex items-center justify-center py-2 px-8 w-max h-8 p-s font-medium rounded-sm border border-red bg-white" style=" color: #D64123;">
      <span>SALE</span>
    </div>
  {%- elsif is_special -%}
    <div class="flex items-center justify-center py-2 px-8 w-max h-8 p-s border border-pine text-pine rounded-sm font-medium bg-white">
      <span>SPECIAL</span>
    </div>
  {%- elsif is_new -%}
    <div class="flex items-center justify-center py-2 px-8 w-max h-8 p-s border border-pine text-pine rounded-sm font-medium bg-white">
      <span>NEW</span>
    </div>
  {%- endif -%}
{%- endcapture -%}
{%- assign tag_markup = tag_markup | strip -%}

<div class="flex {% if quickshop %}justify-start{% else %}justify-center lg:justify-start{% endif %} {% if tag_markup != "" %}h-8{% endif %}">
  <div class="-mb-4 z-30 lg:mb-0 lg:z-0">
    {{- tag_markup -}}
  </div>
</div>
