<div class="grid grid-cols-3 gap-6 lg:mb-18 mb-12 lg:pt-8 pt-6">
  <div class="md:col-span-1 col-span-3">
    <img class="lazy rounded-sm" src="{% include 'shortcode-render' render:'image' %}">
  </div>
  <div class="md:col-span-2 col-span-3">
  <h4 class="p-0 font-black">{% include 'shortcode-render' render:'heading' %}</h4>
    <p class="mb-0">{% include 'shortcode-render' render:'content' %}</p>
  </div>
</div>