<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path</title>
    <g id="Path-Global-Elements-(Header/Footer)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Footer-/-375-Mobile-" transform="translate(-296.000000, -660.000000)" fill="currentColor" fill-rule="nonzero">
            <g id="Group-7" transform="translate(24.000000, 559.000000)">
                <g id="Group-8" transform="translate(12.000000, 88.000000)">
                    <g id="Group" transform="translate(260.000000, 13.000000)">
                        <path d="M13.4621458,0.2529749 C13.3345525,0.100876696 13.1474709,0.00930151151 12.9478609,0.000779101307 C12.7482529,-0.00853297277 12.5541315,0.0659626266 12.4124346,0.206429429 C12.2715353,0.346111533 12.1963925,0.538565037 12.2049893,0.736447853 C12.2143826,0.934328682 12.3067501,1.11979739 12.4601679,1.24628267 L17.5725578,6.32059324 L0.675540046,6.32059324 C0.29667973,6.33999335 0,6.65040456 0,7.02676134 C0,7.40234337 0.29667973,7.71274584 0.675540046,7.73292945 L17.5725578,7.73292945 L12.4523526,12.800287 C12.1846495,13.0780898 12.1846495,13.5157721 12.4523526,13.7935749 C12.5846431,13.9254955 12.7654645,14 12.9533316,14 C13.1411987,14 13.3212305,13.9255034 13.4543105,13.7935749 L19.7870852,7.51559805 L19.7863024,7.51637421 C19.9225066,7.38600517 20,7.2067465 20,7.01973026 C20,6.83193726 19.9225046,6.65267065 19.7863024,6.52308631 L13.4621458,0.2529749 Z" id="Path"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>