<svg width="{{ width | default: '27px'}}" height="{{ height | default: '18px'}}" viewBox="0 0 27 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="{{classes}}">
  <title>88FD5D1F-1468-4D12-B7A3-A850C0E31913=</title>
  <g id="CLP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="D---CLP---Default-Annotated" transform="translate(-947.000000, -13719.000000)" fill="currentColor" fill-rule="nonzero">
      <g id="Group-14" transform="translate(0.000000, 12941.000000)">
        <g id="Group-4" transform="translate(832.000000, 762.000000)">
          <g id="Group-21-Copy-4" transform="translate(104.000000, 0.000000)">
            <path d="M29.0925149,16.3252534 C28.9246806,16.1296986 28.6785964,16.0119591 28.4160324,16.0010017 C28.1534711,15.989029 27.8981269,16.0848091 27.711741,16.2654093 C27.5264041,16.4450005 27.4275624,16.6924408 27.4388705,16.9468615 C27.4512264,17.2012797 27.5727252,17.4397395 27.7745286,17.6023634 L34.4992876,24.126477 L12.2732104,24.126477 C11.7748633,24.15142 11.3846154,24.5505201 11.3846154,25.0344074 C11.3846154,25.5172986 11.7748633,25.9163875 12.2732104,25.9423379 L34.4992876,25.9423379 L27.7642485,32.4575119 C27.4121159,32.8146868 27.4121159,33.3774213 27.7642485,33.7345963 C27.9382614,33.9042084 28.176111,34 28.4232285,34 C28.670346,34 28.907157,33.9042187 29.0822085,33.7345963 L37.4122428,25.6629118 L37.4112132,25.6639097 C37.590374,25.4962924 37.6923077,25.2658169 37.6923077,25.0253675 C37.6923077,24.7839193 37.5903714,24.5534337 37.4112132,24.3868253 L29.0925149,16.3252534 Z" id="Path"></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>