<svg width="20px" height="12px" viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>0063222D-D6CA-4E7B-8021-FF1010262A47</title>
  <g id="Quick-Buy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="D---Quickview-Default" transform="translate(-433.000000, -713.000000)" fill="currentColor" fill-rule="nonzero">
      <g id="Group-10" transform="translate(121.000000, 118.000000)">
        <g id="Group-9" transform="translate(312.000000, 590.000000)">
          <g id="Eye" transform="translate(0.000000, 5.000000)">
            <path d="M17.0292211,2.82143109 C16.0075468,2.0110325 14.9634658,1.36423883 13.9258774,0.897435569 C12.6001769,0.301642388 11.2792691,0 10,0 C8.72073091,0 7.39988455,0.302391548 6.07412265,0.898184729 C5.03645231,1.36491116 3.99239177,2.01172403 2.97077886,2.82218025 C1.24585469,4.19008804 0.18264403,5.54451097 0.13860899,5.60156235 C-0.0462029968,5.83868097 -0.0462029968,6.16133824 0.13860899,6.39843765 C0.183412083,6.45546598 1.24669443,7.8106227 2.97077886,9.17781975 C3.99245321,9.98821834 5.03653423,10.635012 6.07412265,11.1018153 C7.40062188,11.6976085 8.72155016,12 10,12 C11.2792896,12 12.6001155,11.6976085 13.9258774,11.1018153 C14.9635477,10.6350888 16.0076082,9.98827597 17.0292211,9.17781975 C18.7541453,7.80991196 19.817356,6.45548903 19.861391,6.39843765 C20.046203,6.16131903 20.046203,5.83866176 19.861391,5.60156235 C19.8173887,5.54453402 18.7541248,4.1893773 17.0292211,2.82141188 L17.0292211,2.82143109 Z M10,10.6491884 C6.09173666,10.6491884 2.69387015,7.1922971 1.63866772,5.99998079 C2.69473037,4.80691532 6.09255592,1.35077317 10,1.35077317 C13.9074441,1.35077317 17.3053106,4.80689611 18.3613323,5.99998079 C17.3052696,7.19304626 13.9074441,10.6491884 10,10.6491884 Z" id="Shape"></path>
            <path d="M10,2.58592604 C7.99265762,2.58592604 6.35983836,4.11741956 6.35983836,5.99998079 C6.35983836,7.88254202 7.99276003,9.41403554 10,9.41403554 C12.00724,9.41403554 13.6401616,7.88254202 13.6401616,5.99998079 C13.6401616,4.11741956 12.00724,2.58592604 10,2.58592604 Z M10,8.06362734 C8.78711117,8.06362734 7.79988655,7.13768529 7.79988655,6.00017288 C7.79988655,4.86266048 8.78715213,3.93671842 10,3.93671842 C11.2128479,3.93671842 12.2001134,4.86266048 12.2001134,6.00017288 C12.2001134,7.13768529 11.2128479,8.06362734 10,8.06362734 Z" id="Shape"></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>