.container {
    max-width: 1346px;
    padding: 40px 0;
}
.js-product-page-gallery {
    position: relative;
}
.slick-navigation {
    background-color: #fff;
    box-shadow: 0 3px 6px #00000040;
    width: auto;
    display: inline-block;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    color: #cc132c;
    bottom: 40px;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    margin: auto;
    width: 110px;
    text-align: center;
}
.pagingInfo {
    font-weight: 700;
    padding: 0 25px;
    width: 100%;
    display: inline-block;
}
.slick-navigation .slick-prev, 
.slick-navigation .slick-next {
    margin-top: 0;
}
.slick-navigation .slick-prev {
    left: 10px;
}
.slick-navigation .slick-next {
    right: 4px;
    text-align: right;
}
.slick-navigation .slick-prev::before, 
.slick-navigation .slick-next::before {
    font-size: 20px;
}

.breadcrumb_text {
    font-size: 14px;
    opacity: .65;
    color: #000;
}
div.breadcrumb-collection {
    margin: 0;
}
.new_banner,
.new_banner_product, 
.sale_banner_product,
.preorder_banner_product {
    padding: 0px 8px;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 0 0;
}
.gallery-wrap .mobile-only .new_banner {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.new_banner_product {
    background: #cc132c;
}
h1.product_name {
    font-size: 32px;
    color: #000;
    letter-spacing: normal;
    margin: 15px 0 0;
    padding: 0;
}
#rating_summary {
    padding: 0;
    margin: 15px 0 0;
}
.product_section [data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container,
.product_section [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_text,
.product_section [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_text:hover {
    font-size: 14px !important;
    color: #000 !important;
}

.price-sku {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
}
p.modal_price,
div.modal_price {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    line-height: 1;
}
.sku-container {
    font-size: 14px;
}
.shopify-payment-terms {
    font-size: 12px;
    margin: 20px 0 0;
    color: #000;
    text-align: center;
}
.shopify-payment-terms .shop-pay-logo {
    width: 55px;
}
.best-for {
    background: #f1f1f1;
    margin: 0px 0 0;
    width: 100%;
    text-align: left;
    padding: 25px 20px;
    font-size: 16px;
    color: #000;
}
.best-for span {
    color: #cc132c;
    font-weight: 700;
}
.product_section .product_form {
    max-width: unset;
}
.option_title {
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.swatch .option_title {
    margin: 20px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.swatch.clearfix {
    margin: 0;
}
.swatch.clearfix .option_title {
    width: 100%;
}
.option_title span {
    font-weight: 500;
}
.product-swatches a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    min-width: unset;
    padding: 0;
    overflow: hidden;
}
.product-swatches a.active,
.product-swatches a:hover {
    padding: 5px;
    border-color: #000;
}
.product-swatches span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.swatch_options input:checked+.swatch-element.size {
    font-size: 14px;
}
.swatch-element {
    border-color: #d0d0d0;
}
.swatch-element:hover {
    border-color: #000;
}
.inventory-in-stock {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0;
    border-bottom: #e2e2e2 1px solid;
    padding-bottom: 10px;
}
.inventory-in-stock::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.inventory-in-stock.oos::before {
    background-color: #CC123C;
}
.purchase-details {
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 20px;
    margin: 20px 0 0;
}
.product-quantity-box.purchase-details__quantity {
    margin: 0;
    width: 100px;
}

.product-quantity-box .product-minus, .product-quantity-box .product-plus, .product-quantity-box .quantity, .product-quantity-box .quantity:focus {
    border-color: #000;
    border-radius: 0;
}
.product-quantity-box .product-minus, .product-quantity-box .product-plus {
    height: 50px;
    line-height: 50px;
    background: none;
    width: calc(100% / 3);
    font-size: 16px;
}
.product-quantity-box.purchase-details__quantity input.quantity {
    border-left: 0;
    border-right: 0;
    height: 50px;
    color: #000;
    padding: 0;
    font-size: 16px;
    line-height: 50px;
    width: calc(100% / 3);
}
.purchase-details__buttons {
    margin-left: 0;
    flex: 1 0 auto;
}
.product .action_button.add_to_cart {
    min-height: 50px;
}
button.add_to_cart .text {
    font-size: 16px;
}
.saso-bundle:empty,
.saso-volumes:empty {
    display: none;
}

.product_desc {
    margin: 20px 0 0;
    padding: 20px;
    background-color: #f1f1f1;
    width: 100%;
}
.related-products__title .title,
.description .title {
    padding: 0 0 20px;
    margin: 0;
    line-height: 1;
    font-size: 32px;
    font-weight: 500;
    color: #000;
    position: relative;
    cursor: pointer;
}
.related-products__title .title {
    padding: 0;
}
.description .title::after {
    content: "+";
    position: absolute;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    color: #000;
    top: 0;
    right: 20px;
    font-family: Dinot, sans-serif;
}
.product_desc .description-content {
    display: none;
}
.product_desc.extended .description-content {
    display: block;
}
.product_desc.extended .description .title::after {
    content: "-";
}

.product_desc.extended .description-content {
    padding: 40px 0;
    border-top: 1px #e2e2e2 solid;
}

.product_description p {
    font-size: 22px;
    font-weight: bold;
}

.product-description-image {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-description-image > * {
    flex: calc(50% - 10px);
}
.product-description-item,
.product-description-item p {
    font-size: 16px;
    font-weight: 500;
    font-family: Dinot;
    color: #000;
}
.product-description-item h5 {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
}
.product-description-item a {
    text-decoration: underline;
}
.description-image {
    max-height: 100%;
    display: flex;
    justify-content: center;
}
.description-image img {
    object-fit: cover;
    max-width: 100%;
    max-height: 500px;
}

.related-products__title .product-details .product-info__caption {
    display: none;
}
.related-products__title .product-details .title {
    font-size: 14px;
    margin: 0 0 10px;
}

.mobile-only {
    display: none;
}
@media (max-width: 798px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    .product .columns {
        width: 100%;
    }
    .slick-navigation {
        display: none;
    }
    .product_gallery .slick-dots {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .product_gallery .slick-dots li {
        margin: 0;
    }
    .product_gallery .slick-dots button {
        width: 10px;
        height: 10px;
        font-size: 0;
        text-indent: -9999px;
        padding: 0;
        margin: 0;
        min-height: unset;
        border-radius: 50%;
        background-color: #a0a0a0;
    }
    .product_gallery .slick-dots .slick-active button {
        background-color: #cc132c;
    }
    .breadcrumb_text {
        text-transform: capitalize;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .product_name-price {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
    h1.product_name {
        font-size: 22px;
    }
    p.modal_price,
    div.modal_price {
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        margin-top: 20px;
        white-space: nowrap;
    }
    .best-for {
        font-size: 14px;
    }
    .option_title {
        font-size: 14px;
    }
    .related-products__title .title,
    .description .title {
        font-size: 18px;
        padding: 0;
    }
    .product_desc.product_desc.extended .related-products__title .title,
    .product_desc.product_desc.extended .description .title {
        padding-bottom: 20px;
    }
    .product_desc.extended .description-content {
        padding: 20px 0;
    }
    .product-description-image > * {
        width: 100%;
        flex: auto;
    }

    .product_description p {
        font-size: 18px
    }
}
@media (min-width: 799px) {
    .product_gallery .slick-dots {
        display: none !important;
    }
}

.product_gallery:not(.slick-initialized) .easyvideo-overlay-play-icon {
    display: none !important;
}
@media (max-width: 798px) {
    .fancybox-slide--video .fancybox-content {
        max-height: 500px;
        width: auto !important;
        max-width: 100% !important;
        aspect-ratio: 1.77;
    }
    .product-template .content {
        padding-top: 0;
    }
    .mobile-fixed-add-to-cart {
        display: none;
    }
}
.product-app-blocks {
    margin: 20px 0;
}