<div class="collection-filter--selected">
  <span class="collection-filter--selected__heading">REFINE BY</span>
  <span class="collection-filter--selected__item">
    Jersey<span class="close">{%- render 'svg-close', width: '16px', height: '16px' -%}</span>
  </span>
  <span class="collection-filter--selected__item">
    Short sleeve<span class="close">{%- render 'svg-close', width: '16px', height: '16px' -%}</span>
  </span>
  <span class="collection-filter--selected__item">
    Low light<span class="close">{%- render 'svg-close', width: '16px', height: '16px' -%}</span>
  </span>
  <span class="collection-filter--selected__item">
    Road<span class="close">{%- render 'svg-close', width: '16px', height: '16px' -%}</span>
  </span>
  <span class="collection-filter--selected__clear">Clear All</span>
</div>