<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ width }}"
  height="{{ height }}" viewBox="0 0 70 70" {% if classes %}class="{{ classes }}"{% endif %} version="1.1">
  <title>ABDB5559-1F36-4527-8142-1DB3C79E359E</title>
  <g id="Content-Landing-Page-Template---READY-FOR-DEV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
    opacity="0.850218023">
    <g id="D---CLP-Template" transform="translate(-990.000000, -2365.000000)" fill="#FCFCFC">
      <g id="Group-8" transform="translate(119.000000, 1905.000000)">
        <g id="Group-23" transform="translate(0.000000, 183.000000)">
          <g id="Group-26" transform="translate(613.000000, 119.000000)">
            <path
              d="M258.000237,192.898977 C257.937587,173.462554 274.266958,157.495996 293.965514,158.012174 C312.16538,158.501229 328.076264,173.519907 328.000237,193.158465 C327.953478,205.65236 321.240674,217.174048 310.388093,223.378681 C299.535373,229.58611 286.194871,229.536941 275.38835,223.250273 C264.581829,216.963597 257.954278,205.393158 258.000237,192.898565 L258.000237,192.898977 Z M309.992501,193.41396 L309.992501,193.416675 C309.536427,192.787292 308.997908,192.220273 308.39627,191.726559 C301.36287,187.605719 294.304852,183.517659 287.224327,179.461823 C285.460491,178.441753 284.053811,179.157983 284.053811,181.15194 C283.98238,189.366396 283.98238,197.578074 284.053811,205.79253 C284.053811,207.800029 285.460491,208.570499 287.218841,207.550429 C294.356336,203.475703 301.464291,199.354724 308.544113,195.18777 C309.063374,194.859511 309.373843,194.151448 310.000237,193.416259 L309.992501,193.41396 Z"
              id="Fill-1-Copy" />
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>