<div class="hidden clp-slider relative" data-related-products>
  <h3 class="uppercase mb-8 lg:mb-10" data-related-products-heading></h3>
  <div class="product-carousel overflow-x-visible relative">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides"></div>
    </div>
    <div class="glide__arrows absolute w-screen h-0 top-0 left-1/2 transform -translate-x-1/2 flex justify-between px-1 md:px-6" data-glide-el="controls">
      <a href="#" class="glide__arrow glide__arrow--left h-full flex items-center" data-glide-dir="<">
        <span class="button-slider-nav-light w-6 h-6 md:w-12.5 md:h-12.5 m-0 p-0 rounded-circle flex items-center justify-center transform scale-50 md:scale-100">
          {% render 'svg-arrow-left', classes: 'hidden md:block' %}
          {% render 'svg-arrow-left', width: '14px', height: '9px', classes: 'block md:hidden' %}
        </span>
      </a>
      <a href="#" class="glide__arrow glide__arrow--right h-full flex items-center" data-glide-dir=">">
        <span class="button-slider-nav-light w-6 h-6 md:w-12.5 md:h-12.5 m-0 p-0 rounded-circle flex items-center justify-center transform scale-50 md:scale-100">
          {% render 'svg-arrow-right', classes: 'hidden md:block' %}
          {% render 'svg-arrow-right', width: '14px', height: '9px', classes: 'block md:hidden' %}
        </span>
      </a>
    </div>
  </div>
</div>