<?xml version="1.0" encoding="UTF-8"?>
<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>78DC4C13-E51C-4878-A6CC-41B39E5FAE14</title>
    <g id="PDP-Details" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Exportable-Icons" transform="translate(-739.000000, -336.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Fabric-Icons" transform="translate(136.000000, 92.000000)">
                <g id="Thermal-Regulation" transform="translate(579.500000, 225.000000)">
                    <g id="icon" transform="translate(23.500000, 19.000000)">
                        <path d="M14.0587636,9.07210598 C14.1975677,9.08216927 14.3303578,9.0138203 14.402829,8.89501044 C14.4753003,8.77620057 14.4753003,8.62685277 14.402829,8.5080429 C14.3303578,8.38923304 14.1975677,8.32088407 14.0587636,8.33094736 L7.65289655,8.33094736 L7.65289655,6.20668171 C7.65289648,4.52208757 6.28726309,3.15645424 4.60266895,3.15645424 C2.91807481,3.15645424 1.55244142,4.52208757 1.55244135,6.20668171 L1.55244135,28.3500113 C0.720155619,29.1808515 0.248445127,30.3059684 0.239365055,31.4819414 C0.289440786,33.8510316 2.22429573,35.7454215 4.59391511,35.7454215 C6.96353448,35.7454215 8.89838943,33.8510316 8.94846516,31.4819414 C8.93938509,30.3059684 8.4676746,29.1808515 7.63538887,28.3500113 L7.63538887,23.8758254 L14.054873,23.8758254 C14.1936771,23.8858887 14.3264672,23.8175397 14.3989384,23.6987298 C14.4714097,23.57992 14.4714097,23.4305722 14.3989384,23.3117623 C14.3264672,23.1929525 14.1936771,23.1246035 14.054873,23.1346668 L7.63538887,23.1346668 L7.63538887,20.1817041 L9.24025989,20.1817041 L9.24025989,20.1817041 L9.24025989,20.1817041 C9.43452811,20.1676197 9.58494489,20.0059029 9.58494489,19.8111248 C9.58494489,19.6163467 9.43452811,19.4546299 9.24025989,19.4405455 L9.2285881,19.4405455 L7.65289655,19.4405455 L7.65289655,16.475911 L9.24025989,16.475911 C9.43452811,16.4618266 9.58494489,16.3001098 9.58494489,16.1053317 C9.58494489,15.9105536 9.43452811,15.7488368 9.24025989,15.7347524 L7.65678715,15.7347524 L7.65678715,12.7759538 L9.24025989,12.7759538 C9.43452811,12.7618694 9.58494489,12.6001526 9.58494489,12.4053745 C9.58494489,12.2105964 9.43452811,12.0488796 9.24025989,12.0347952 L7.65678715,12.0347952 L7.65678715,9.07210598 L14.0587636,9.07210598 Z M6.23282885,15.6063627 L2.96667315,15.6063627 L2.96667315,6.31172781 C2.94606948,5.71484331 3.25274756,5.15426647 3.76650381,4.84971741 C4.28026006,4.54516834 4.91924194,4.54516834 5.43299819,4.84971741 C5.94675444,5.15426647 6.25343252,5.71484331 6.23282885,6.31172781 L6.23282885,15.6063627 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>