{% layout 'password' %}

<!-- Site Logo -->
<a href="/" class="text-center px-4 pt-12 h-full flex items-center justify-center bg-white mx-auto rounded rounded-b-none" style="max-width: 500px;">
  <span class="sr-only">{{ shop.name }}</span>
  <span class="block md:hidden">{% render 'svg-logo-mark' %}</span>
  <span class="hidden md:block">{% render 'svg-logo-horizontal' %}</span>
</a>

<!-- Content -->
{% comment %}
Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
<div class="mx-auto px-6">
  {% unless shop.password_message == blank %}
  <div class="text-p-s">
    {{ shop.password_message }}
  </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "Password Page",
  "settings": [
    {
      "type": "text",
      "id": "password_message",
      "label": "Password Message"
    }
  ],
  "presets": [
    {
      "name": "Password Page",
      "category": "Page"
    }
  ]
}
{% endschema %} 