<div class="shogun-root" data-shogun-id="6555a5d766ac6000c8799b27" data-shogun-site-id="f9959236-c11a-461d-83e5-092cb935b5f6" data-shogun-section-id="6555a5d766ac6000c8799b27" data-shogun-section-version-id="67db365cadcd94752894d0b3" data-shogun-platform-type="shopify" data-shogun-variant-id="67db365cadcd94752894d1de" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-03-05-5300/67db365cadcd94752894d0b3_67db365cadcd94752894d1de.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sora:700,600,600"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-03-12-5418/global-assets-6fecdcb80cbaf9aaf933db183d2f131b3b404167.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/jarallax-f7e7cf9cfe24aaa04179ae0ee36c9cf2.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-729766a1-9fa4-449c-8fbc-2ae6923f5f08"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-fbf54a35-fba4-4901-99d7-777fcd2d7104"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-839f870f-3406-4872-a7f5-d02e628a5afc"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a5e01f90-c7df-40ba-9979-570c17dafc23"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> </div> </div> </div></div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-a5e01f90-c7df-40ba-9979-570c17dafc23",
          "url": "https://vimeo.com/1067007645?share=copy",
          "sound": false,
          "speed": 1,
          "backupImage": ""
        }
      }
    </script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-cd0eedff-491f-4e39-9a05-da398a2b10c4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e7816cf8-20a5-416f-ac34-979cb23c9658" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h6> SPRING IS HERE<br> </h6> </div> </div> <div id="s-a9493a80-9455-43ec-adc2-99e07311d0b0" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> NEW SEASON DROP<br> </h1> </div> </div> <div id="s-c3727cbe-b4b0-4860-9005-82eb25fa26eb" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px;"><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: Sora; font-weight: 600;" data-fontfamily="Sora" data-fontweight="600">Adventure season has arrived. Ride further and explore more with all-day comfort for every ride, from cool mornings to long afternoons. Our all-new collection is now available!</span></p></div> </div> <div id="s-991fc36c-6784-4dad-bfe3-951ff77f5fcd-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-991fc36c-6784-4dad-bfe3-951ff77f5fcd" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> SHOP NEW GEAR </a> </div> </div> </div> </div> </div> </div> </div> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-afe5fa80-431f-4478-a3d7-5f73ecedd9b6"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-c733d667-83f1-4c83-a2f6-e621597a22c6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-dd557c57-0420-424e-9ce3-0298408d5f62" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><div style="text-align: center; line-height: 5px;"><span style="font-family: Sora; font-weight: 600; font-size: 18px; color: rgb(255, 255, 255);" data-fontfamily="Sora" data-fontweight="600">SPRING IS HERE</span></div></div> </div> <div id="s-349923bc-3da2-4d69-b7c5-37a369fb80f3" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> NEW SEASON DROP<br> </h1> </div> </div> <div id="s-37060760-c8ea-4b32-8ae4-5b413ceeddab" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-shadow: 0 0 1px #505050; text-align: center; line-height: 24px; color: rgb(0, 0, 0); font-family: Sora; font-size: 16px;"><span style="color: rgb(255, 255, 255);"><strong>Adventure season has arrived. Ride further and explore more with all-day comfort for every ride, from cool mornings to long afternoons. Our all-new collection is now available!</strong></span></p></div> </div> <div id="s-21f93e83-929c-432f-b5e7-7d37a61a8912-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-21f93e83-929c-432f-b5e7-7d37a61a8912" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> SHOP NEW GEAR </a> </div> <div id="s-992850b7-08b6-4575-961a-09a9a0334886-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-992850b7-08b6-4575-961a-09a9a0334886" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> </div> </div> </div> </div> </div> </div></div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-afe5fa80-431f-4478-a3d7-5f73ecedd9b6",
          "url": "https://vimeo.com/1067007645?share=copy",
          "sound": false,
          "speed": 1,
          "backupImage": "https://i.shgcdn.com/98e2342e-34bb-4d68-8647-9de219dd0c16/"
        }
      }
    </script> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "HP_Hero_Video",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=6555a5d766ac6000c8799b27&shop=www.pearlizumi.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "HP_Hero_Video",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
