<div class="shogun-root" data-shogun-id="656a528801983400e7651d6c" data-shogun-site-id="f9959236-c11a-461d-83e5-092cb935b5f6" data-shogun-section-id="656a528801983400e7651d6c" data-shogun-section-version-id="65728d3abebad2011d74b2ef" data-shogun-platform-type="shopify" data-shogun-variant-id="65728d3abebad2011d74b430" data-region="main"> <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/d3a8e76730a41a3ddf8ec4a7bbfab388/65728d3abebad2011d74b430.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sora:700|Sora:|Sora:600"/> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c show-all-pro " id="s-17932f28-1d4b-469c-ae12-9c70e2aebc49"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-ba4aeb0d-943f-4746-b0ce-a71cddecd531"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-14ad0d95-eda4-4ff3-8e84-78d6d9db14dc"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-c165ff83-acee-46c7-9ddb-ac58b14b3aee" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h6> WEATHER GEAR<br> </h6> </div> </div> <div id="s-d21ab71d-0843-43f4-a018-92c5846b408e" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> CONDITIONS CHANGE,<br>DEDICATION DOESN'T<br> </h1> </div> </div> <div id="s-9be17dd5-aad3-4030-b80c-c0de2d911416" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px;"><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: Sora; font-weight: 600;" data-fontfamily="Sora" data-fontweight="600">Baselayers to jackets, tights to gloves, we&rsquo;ve got</span><br><span style="color: rgb(255, 255, 255); font-size: 16px; font-family: Sora; font-weight: 600;" data-fontfamily="Sora" data-fontweight="600"> everything you need to build a focused kit for an endless season.</span></p></div> </div> <div class="shg-c " id="s-9d536468-20d1-4e30-97eb-5921ccd86b50"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-1c6d363f-6291-4b99-869e-d63eaaf9101f-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-1c6d363f-6291-4b99-869e-d63eaaf9101f" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/mens"> SHOP MEN'S </a> </div> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-13b14ceb-8c45-40a0-af25-df20725e1e53-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-13b14ceb-8c45-40a0-af25-df20725e1e53" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/womens"> SHOP WOMEN'S </a> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div><script type="text/javascript">
      if (window.SHOGUN_VIDEO_PARALLAX === undefined) window.SHOGUN_VIDEO_PARALLAX = new Array()
      window.SHOGUN_VIDEO_PARALLAX.push({
        id: "#s-ba4aeb0d-943f-4746-b0ce-a71cddecd531",
        url: "https://vimeo.com/882693134?share=copy",
        sound: false,
        speed: 1,
        backupImage: ""
      })
    </script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c show-all-pro " id="s-237a3cb9-9afb-4d45-9288-ad3969fab2c4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-075b7c13-4c9b-40a6-be6b-99fe71dd526f"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> </div> </div> </div><script type="text/javascript">
      if (window.SHOGUN_VIDEO_PARALLAX === undefined) window.SHOGUN_VIDEO_PARALLAX = new Array()
      window.SHOGUN_VIDEO_PARALLAX.push({
        id: "#s-075b7c13-4c9b-40a6-be6b-99fe71dd526f",
        url: "https://vimeo.com/882693134?share=copy",
        sound: false,
        speed: 1,
        backupImage: ""
      })
    </script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-984fdd85-7732-4d26-8828-8239fd6f6ae4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-8adf6397-2009-47e6-84b2-303c06d4ffbb" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h6> WEATHER GEAR<br> </h6> </div> </div> <div id="s-8613c829-c668-4649-9b7c-fc2d0a11c89a" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> CONDITIONS CHANGE,<br>DEDICATION DOESN'T<br> </h1> </div> </div> <div id="s-45d0af52-89d5-450b-836d-cc3cb4163bde" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px;"><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: Sora; font-weight: 600;" data-fontfamily="Sora" data-fontweight="600">Baselayers to jackets, tights to gloves, we&rsquo;ve got </span><span style="color: rgb(0, 0, 0); font-size: 14px; font-family: Sora; font-weight: 600;" data-fontfamily="Sora" data-fontweight="600">everything you need to build a focused kit for an endless season.</span></p></div> </div> <div class="shg-c " id="s-41b03738-353d-4e88-8aa1-eebf1d348366"> <div class="shg-row" data-col-grid-mode-on=""> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-9f4ffd1d-fa19-4377-a9d1-8e25ee632e69-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-9f4ffd1d-fa19-4377-a9d1-8e25ee632e69" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/mens"> SHOP MEN'S </a> </div> </div> <div class="shg-c-lg-6 shg-c-md-6 shg-c-sm-6 shg-c-xs-12"><div id="s-a7fcd78c-24f2-4d30-8fa4-74e3469e5c13-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-a7fcd78c-24f2-4d30-8fa4-74e3469e5c13" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/womens"> SHOP WOMEN'S </a> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script type="text/javascript" src="https://cdn.getshogun.com/c1a13dd52ce938030bd7204085ee1fb1/global-assets-1aee5e527d739644e9758388897d981f241fcfe0.js" defer></script> <script type="text/javascript" src="https://cdn.getshogun.com/jarallax-f7e7cf9cfe24aaa04179ae0ee36c9cf2.js" defer></script> </div>
{% schema %}
  {
    "name": "HP_Hero_Pro",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=656a528801983400e7651d6c&shop=www.pearlizumi.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "HP_Hero_Pro",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
