<div data-bv-show="rating_summary" data-bv-product-id="2075004469336" id="rating_summary" data-bv-ready="true"><div class="bv_main_container" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><meta itemprop="bestRating" content="5"><style>/* == START CLEANSLATE == */
/*!
* This includes a subset of CleanSlate.
*
* ***IMPORTANT*** The only modifications to this code should be adding,
* removing or namespacing rules.
*
* CleanSlate
*   github.com/premasagar/cleanslate
*
*    An extreme CSS reset stylesheet, for normalising the styling of a container element and its children.
*
*    by Premasagar Rose
*        dharmafly.com
*
*    license
*        opensource.org/licenses/mit-license.php
*
*    v0.10.1
*/
[data-bv-show="rating_summary"] a,
[data-bv-show="rating_summary"] span,
[data-bv-show="rating_summary"] div,
[data-bv-show="rating_summary"] svg,
[data-bv-show="rating_summary"] path,
[data-bv-show="rating_summary"] polygon,
[data-bv-show="rating_summary"] button {
  background-attachment: scroll !important;
  background-color: transparent !important;
  background-image: none !important; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
  background-position: 0 0 !important;
  background-repeat: repeat !important;
  border-color: black !important;
  border-color: currentColor !important; /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
  border-radius: 0 !important;
  border-style: none !important;
  border-width: medium !important;
  bottom: auto !important;
  clear: none !important;
  clip: auto !important;
  color: inherit !important;
  counter-increment: none !important;
  counter-reset: none !important;
  cursor: auto !important;
  direction: inherit !important;
  display: inline !important;
  float: none !important;
  font-family: inherit !important; /* As with other inherit values, this needs to be set on the root container element */
  font-size: inherit !important;
  font-style: inherit !important;
  font-variant: normal !important;
  font-weight: inherit !important;
  height: auto !important;
  left: auto !important;
  letter-spacing: normal !important;
  line-height: inherit !important;
  list-style-type: inherit !important; /* Could set list-style-type to none */
  list-style-position: outside !important;
  list-style-image: none !important;
  margin: 0 !important;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  opacity: 1;
  outline: invert none medium !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  quotes: "" "" !important;
  right: auto !important;
  table-layout: auto !important;
  text-align: inherit !important;
  text-decoration: inherit !important;
  text-indent: 0 !important;
  text-transform: none !important;
  top: auto !important;
  unicode-bidi: normal !important;
  vertical-align: baseline !important;
  visibility: inherit !important;
  white-space: normal !important;
  width: auto !important;
  word-spacing: normal !important;
  z-index: auto !important;

  /* CSS3 */
  /* Including all prefixes according to http://caniuse.com/ */
  /* CSS Animations don't cascade, so don't require resetting */
  -webkit-background-origin: padding-box !important;
  background-origin: padding-box !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  background-size: auto !important;
  -webkit-border-image: none !important;
  -moz-border-image: none !important;
  -o-border-image: none !important;
  border-image: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  -webkit-column-count: auto !important;
  -moz-column-count: auto !important;
  column-count: auto !important;
  -webkit-column-gap: normal !important;
  -moz-column-gap: normal !important;
  column-gap: normal !important;
  -webkit-column-rule: medium none black !important;
  -moz-column-rule: medium none black !important;
  column-rule: medium none black !important;
  -webkit-column-span: 1 !important;
  -moz-column-span: 1 !important; /* doesn't exist yet but probably will */
  column-span: 1 !important;
  -webkit-column-width: auto !important;
  -moz-column-width: auto !important;
  column-width: auto !important;
  font-feature-settings: normal !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  -webkit-hyphens: manual !important;
  -moz-hyphens: manual !important;
  hyphens: manual !important;
  -webkit-perspective: none !important;
  -moz-perspective: none !important;
  -ms-perspective: none !important;
  -o-perspective: none !important;
  perspective: none !important;
  -webkit-perspective-origin: 50% 50% !important;
  -moz-perspective-origin: 50% 50% !important;
  -ms-perspective-origin: 50% 50% !important;
  -o-perspective-origin: 50% 50% !important;
  perspective-origin: 50% 50% !important;
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
  text-shadow: none !important;
  -webkit-transition: all 0s ease 0s !important;
  transition: all 0s ease 0s !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  -webkit-transform-origin: 50% 50% !important;
  -moz-transform-origin: 50% 50% !important;
  -ms-transform-origin: 50% 50% !important;
  -o-transform-origin: 50% 50% !important;
  transform-origin: 50% 50% !important;
  -webkit-transform-style: flat !important;
  -moz-transform-style: flat !important;
  -ms-transform-style: flat !important;
  -o-transform-style: flat !important;
  transform-style: flat !important;
  word-break: normal !important;
}

/* Necessary because cursor: auto breaks our hover styling */
[data-bv-show="rating_summary"] svg,
[data-bv-show="rating_summary"] polygon {
  cursor: inherit !important;
}

[data-bv-show="rating_summary"] div {
  display: block !important;
}

[data-bv-show="rating_summary"] a {
  color: blue !important;
  text-decoration: underline !important;
}

[data-bv-show="rating_summary"] a:visited {
  color: #529 !important;
}

[data-bv-show="rating_summary"] a, [data-bv-show="rating_summary"] a * {
  cursor: pointer !important;
}

[data-bv-show="rating_summary"] path,
[data-bv-show="rating_summary"] polygon {
  fill: currentColor !important;
}

/* == ROOT CONTAINER ELEMENT == */
/* This contains default values for child elements to inherit  */
[data-bv-show="rating_summary"] {
  font-size: medium !important;
  line-height: 1 !important;
  direction: ltr !important;
  text-align: left !important; /* for IE, Opera */
  text-align: start !important; /* recommended W3C Spec */
  color: #FFA400 !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
  list-style-type: disc !important;
}

/* == END CLEANSLATE == */
[data-bv-show=rating_summary] .bv_main_container{display:inline-flex!important;flex-wrap:wrap!important;background-color:transparent!important;margin-bottom:0px!important;margin-left:0px!important;margin-right:0px!important;margin-top:0px!important;padding-bottom:0px!important;padding-left:0px!important;padding-right:0px!important;padding-top:0px!important;border-bottom-style:none!important;border-bottom-color:transparent!important;border-bottom-width:0px!important;border-left-style:none!important;border-left-color:transparent!important;border-left-width:0px!important;border-right-style:none!important;border-right-color:transparent!important;border-right-width:0px!important;border-top-style:none!important;border-top-color:transparent!important;border-top-width:0px!important;border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important;border-top-left-radius:0px!important;border-top-right-radius:0px!important}[data-bv-show=rating_summary] .bv_main_container .bv_main_container_row_flex{display:inline-flex!important;align-items:center!important;padding-right:0!important}[data-bv-show=rating_summary] .bv_main_container .bv_main_container_row_normal{width:100%!important}[data-bv-show=rating_summary] .bv_main_container .bv_main_container_CTA_row{display:inline-flex!important;padding-top:.5em!important;width:100%!important}[data-bv-show=rating_summary] .bv_main_container .bv_main_container_line_break{margin-top:.5em!important;width:100%!important;max-width:21em!important;border-bottom:1px solid #cecece!important}[data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container{display:flex!important;align-items:center!important;padding-right:.1em!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container:hover{cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_avgRating_component_container:visited{color:#000000!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_numReviews_component_container{display:flex!important;align-items:center!important;white-space:nowrap!important}[data-bv-show=rating_summary] .bv_main_container .bv_numReviews_delimeter{padding-right:.1em!important;color:#ccc!important;font-size:14px!important}[data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text{white-space:nowrap!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text:hover{cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_numReviews_text:visited{color:#000000!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_percentRecommend_component_container,[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container{padding-top:.5em!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container>a,[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container button{padding:0!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container>a:hover,[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container button:hover{cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container>a:visited,[data-bv-show=rating_summary] .bv_main_container .bv_questionsAndAnswers_component_container button:visited{color:#000000!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_ms_focusable>a:focus,[data-bv-show=rating_summary] .bv_main_container .bv_ms_focusable button:focus{border:1px solid blue!important}[data-bv-show=rating_summary] .bv_main_container .bv_stars_component_container{display:flex!important;align-items:center!important;overflow:hidden!important;white-space:nowrap!important;padding-right:0!important}[data-bv-show=rating_summary] .bv_main_container .bv_stars_component_container span{display:inherit!important}[data-bv-show=rating_summary] .bv_main_container .bv_stars_component_container svg:not(:last-child){padding-right:1px!important}[data-bv-show=rating_summary] .bv_main_container .bv_stars_component_container:hover{cursor:pointer!important}[data-bv-show=rating_summary] .bv_main_container .bv_button_buttonFull{padding:.5em 1em .5em 1em!important;align-self:center!important;border:none!important;text-align:center!important;text-decoration:none!important;background-image:-webkit-linear-gradient(top,hsla(0,0%,100%,.1),hsla(0,0%,100%,0))!important;box-shadow:inset 0 1px 0 hsla(0,0%,100%,.2)!important;color:#FFFFFF!important;font-size:15px!important;background-color:#FFA300!important;font-family:GraphikSemibold, Raleway, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:bold!important;font-style:normal!important;text-decoration:none!important;border-bottom-style:none!important;border-bottom-color:#FFFFFF!important;border-bottom-width:0px!important;border-left-style:none!important;border-left-color:#FFFFFF!important;border-left-width:0px!important;border-right-style:none!important;border-right-color:#FFFFFF!important;border-right-width:0px!important;border-top-style:none!important;border-top-color:#FFFFFF!important;border-top-width:0px!important;border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important;border-top-left-radius:0px!important;border-top-right-radius:0px!important}[data-bv-show=rating_summary] .bv_main_container .bv_button_buttonFull:hover{cursor:pointer!important;background-image:none!important;box-shadow:none!important;background-color:#FFA300!important;color:#FFFFFF!important;font-family:GraphikSemibold, Raleway, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:bold!important;font-style:normal!important;font-size:15px!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist{color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist:hover{cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_button_buttonMinimalist:visited{color:#000000!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}[data-bv-show=rating_summary] .bv_main_container .bv_ms_focusable:focus{border:1px solid blue!important}div.bv_modal_component_container[data-bv-modal]{display:flex!important;flex-wrap:wrap!important;position:absolute!important;z-index:1000!important;background-color:#ffffff!important;max-width:270px!important}div.bv_modal_component_container[data-bv-modal] .bv_modal_outer_content:before{content:"";display:inline-flex!important;position:absolute!important;left:45%!important;top:-5px!important;width:10px!important;height:10px!important;border-right:1px solid #000!important;border-bottom:1px solid #000!important;transform:rotate(-135deg)!important;background-color:#ffffff!important}div.bv_modal_component_container[data-bv-modal] .bv_modal_outer_content{margin:0 auto!important;display:inline-flex!important;flex-wrap:wrap!important;padding:2em!important;border:1px solid #000!important}.bv_histogram_component_container{min-width:200px!important}.bv_histogram_row_prefix{display:table-cell!important;vertical-align:middle!important;white-space:nowrap!important}.bv_histogram_row_container{min-width:200px!important;height:25px!important;padding:0!important;margin:0!important;display:table-row!important;cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}.bv_histogram_row_container:hover{background-color:#f7f7f7!important}.bv_histogram_row_bar_empty{background-color:#ccc!important;background-color:#EDEDED!important}.bv_histogram_row_bar_empty,.bv_histogram_row_bar_filled{border-radius:2px!important;height:10px!important;display:block!important;background-image:linear-gradient(180deg,hsla(0,0%,100%,.3) 0,hsla(0,0%,100%,0))!important}.bv_histogram_row_bar_filled{background-color:#222222!important}.bv_histogram_row_full_bar{padding-left:10px!important;padding-right:10px!important;width:100%!important}.bv_histogram_row_full_bar,.bv_histogram_row_rating{display:table-cell!important;vertical-align:middle!important}.bv_histogram_row_rating{text-align:center!important}.bv_histogram_row_star{display:table-cell!important;vertical-align:middle!important}.bv_button_buttonFull{padding:.5em 1em .5em 1em!important;align-self:center!important;border:none!important;text-align:center!important;text-decoration:none!important;background-image:-webkit-linear-gradient(top,hsla(0,0%,100%,.1),hsla(0,0%,100%,0))!important;box-shadow:inset 0 1px 0 hsla(0,0%,100%,.2)!important;color:#FFFFFF!important;font-size:15px!important;background-color:#FFA300!important;font-family:GraphikSemibold, Raleway, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:bold!important;font-style:normal!important;text-decoration:none!important;border-bottom-style:none!important;border-bottom-color:#FFFFFF!important;border-bottom-width:0px!important;border-left-style:none!important;border-left-color:#FFFFFF!important;border-left-width:0px!important;border-right-style:none!important;border-right-color:#FFFFFF!important;border-right-width:0px!important;border-top-style:none!important;border-top-color:#FFFFFF!important;border-top-width:0px!important;border-bottom-left-radius:0px!important;border-bottom-right-radius:0px!important;border-top-left-radius:0px!important;border-top-right-radius:0px!important}.bv_button_buttonFull:hover{cursor:pointer!important;background-image:none!important;box-shadow:none!important;background-color:#FFA300!important;color:#FFFFFF!important;font-family:GraphikSemibold, Raleway, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:bold!important;font-style:normal!important;font-size:15px!important;text-decoration:none!important}.bv_button_buttonMinimalist{color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}.bv_button_buttonMinimalist:hover{cursor:pointer!important;color:#000000!important;font-size:14px!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}.bv_button_buttonMinimalist:visited{color:#000000!important;font-family:GraphikRegular, "Helvetica Neue", Verdana, Arial, sans-serif!important;text-transform:none!important;font-weight:normal!important;font-style:normal!important;text-decoration:none!important}.bv_ms_focusable:focus{border:1px solid blue!important}</style><button id="ratings-summary" class="bv_main_container_row_flex" role="link" type="button" aria-expanded="false" aria-label="
      4.7 out of 5 stars. Read reviews for 
      average rating value is 4.7 of 5.
      Read 40 Reviews"><div class="bv_stars_component_container"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" focusable="false" style="width: 20px !important; height: 20px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856"></polygon><path d="" ></path><defs><linearGradient id="bv_rating_summary_star_filled_1_0_99.99_2075004469336" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(34, 34, 34); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(237, 237, 237); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" focusable="false" style="width: 20px !important; height: 20px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" ></polygon><path d=""></path><defs><linearGradient id="bv_rating_summary_star_filled_1_1_99.99_2075004469336" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(34, 34, 34); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(237, 237, 237); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" focusable="false" style="width: 20px !important; height: 20px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" ></polygon><path d="" ></path><defs><linearGradient id="bv_rating_summary_star_filled_1_2_99.99_2075004469336" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(34, 34, 34); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(237, 237, 237); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" focusable="false" style="width: 20px !important; height: 20px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" ></polygon><path d="" ></path><defs><linearGradient id="bv_rating_summary_star_filled_1_3_99.99_2075004469336" x1="99.99%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(34, 34, 34); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(237, 237, 237); stop-opacity: 1;"></stop></linearGradient></defs></svg><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 25 25" focusable="false" style="width: 20px !important; height: 20px !important;"><polygon points="25 9.12 15.5669599 9.12 12.512219 0 9.40860215 9.12 0 9.12 7.55131965 14.856 4.47214076 24 12.512219 18.216 20.5522972 24 17.4731183 14.856" ></polygon><path d="" ></path><defs><linearGradient id="bv_rating_summary_star_filled_1_4_65.00_2075004469336" x1="65.00%" y1="0%" x2="100%" y2="0%"><stop offset="0%" style="stop-color: rgb(34, 34, 34); stop-opacity: 1;"></stop><stop offset="1%" style="stop-color: rgb(237, 237, 237); stop-opacity: 1;"></stop></linearGradient></defs></svg></div><div itemprop="ratingValue" class="bv_avgRating_component_container notranslate">4.7</div><div class="bv_numReviews_component_container"><meta itemprop="reviewCount" content="40">&nbsp;<div class="bv_numReviews_text">(40)</div></div></button></div></div>