<svg width="{{ width | default: '276px'}}" height="{{ height | default: '202px'}}" viewBox="0 0 276 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>686B731D-6331-4004-8BBE-12B9614E3576@2x</title>
  <defs>
    <rect id="logo-path-1" x="0" y="0" width="276" height="202"></rect>
  </defs>
  <g id="Outline-Global-Elements-(Header/Footer)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Footer-/-1440-Desktop-" transform="translate(-120.000000, -612.000000)">
      <g id="Fill-1" transform="translate(120.000000, 612.000000)">
        <mask id="logo-mask-2" fill="white">
          <use xlink:href="#logo-path-1"></use>
        </mask>
        <g id="Mask"></g>
        <path d="M57.5415996,58.9291329 C63.1775203,52.7325272 70.2149532,46.0432722 79.0746007,39.2000642 C80.8071983,37.8606736 79.9558357,34.9945831 77.7726632,35.0125443 C73.3764458,35.0125443 53.2822973,34.9843196 45.5802041,35.0125443 C42.6975203,35.0228078 40.9375397,35.4153878 38.9111972,36.7470807 C30.0988476,42.5434088 23.7210963,48.6527744 17.5997495,55.7320436 C15.1452363,58.5801729 15.4091089,61.0254587 19.1307085,61 L50.7730181,61 C53.9145958,61 55.8239382,60.7842658 57.5415996,58.9291329 Z M44.7012206,73.9831955 C45.5696111,72.4676958 44.3976572,71.002545 43.0739215,71.002545 L11.1350663,71.002545 C7.51221086,70.939609 5.74059471,72.0472831 4.87966889,73.9529862 C-5.76744557,98.0524511 1.09010232,125.892834 24.6560806,149.642374 C25.3502953,150.34474 26.8307892,150.007403 26.8755772,148.675677 C26.9303182,147.419474 27.1243997,145.171399 27.2886226,143.592963 C27.4453807,142.014527 27.61458,140.315255 26.6665663,138.608429 C23.6334202,133.148099 24.4993224,119.994469 27.3035519,110.617 C31.4688404,96.7131724 34.2680935,89.767552 44.7012206,73.9831955 Z M67.2617295,216 C56.406191,216 51.0222244,210.232753 47.2376788,204.613128 C37.3633188,189.868491 32.5325166,172.769417 33.0356208,152.397649 C33.4536229,135.271052 37.8664231,102.083736 62.8814684,71.8738703 C89.4333597,39.7899621 122.440504,26.6341336 159.107044,26.018627 C176.89591,25.7208819 191.000351,29.0160942 203.980942,34.2203778 C237.633862,47.7239926 248.379268,80.2507653 244.111642,106.494867 C241.348323,123.573924 230.465252,140.708027 213.547432,154.274194 C196.041406,168.328262 171.376781,177.385717 144.051461,178.271446 C137.030528,178.486623 128.580379,178.148845 122.770901,177.590886 C120.383033,177.358194 119.879929,176.987889 119.068955,175.814423 C118.060243,174.368233 117.411965,173.267327 116.495864,171.005465 C115.70992,169.053859 116.88383,168.636015 119.008883,168.403323 C129.343796,167.34245 138.221959,165.706103 149.080001,160.832091 C173.884794,149.650388 191.047908,125.563062 195.373103,99.4290508 C198.031296,83.3808416 194.52959,66.0365656 187.073134,57.3018761 C179.333838,48.2494251 170.095242,44.0284508 158.563892,43.7332078 C143.335601,43.3478906 128.795637,51.8048515 118.633432,63.9173212 C100.333952,85.7052548 95.1827652,111.506492 99.0724371,142.979897 C102.231231,168.523422 115.014084,188.172095 131.12093,208.1035 C132.692818,210.055107 133.093299,212.064261 132.302349,213.605529 C131.451327,215.22186 129.804349,215.994996 128.342593,216 L67.2617295,216 L67.2617295,216 Z" stroke="#4D4D4D" stroke-width="1.5" mask="url(#logo-mask-2)"></path>
      </g>
    </g>
  </g>
</svg>