<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ width | default: '14px' }}" height="{{ height | default: '18px' }}" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>BFD05564-C151-478F-9971-7BB863624E5F@2x</title>
    <g id="Full-Page-Cart" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="M---Cart---Default" transform="translate(-137.000000, -225.000000)" fill="currentColor" fill-rule="nonzero">
            <g id="Group-16" transform="translate(24.000000, 212.000000)">
                <g id="np_lock_821927_000000" transform="translate(113.000000, 13.000000)">
                    <path d="M12.401963,7.3281704 L1.70004157,7.3281704 C0.76043325,7.3281704 -0.00239971131,8.07820037 0,9.00008034 L0,16.3296801 C0,17.25156 0.764428634,18 1.70403695,18 L12.2999584,17.99375 C13.2395667,17.99375 14.0023997,17.24609 14,16.3234301 L14,8.99223034 C14,8.10629037 13.2928929,7.3820704 12.4018815,7.3281704 L12.401963,7.3281704 Z" id="Path"></path>
                    <path d="M3.20809519,6.58120043 C3.57359129,6.58120043 3.86980009,6.29058044 3.86900509,5.93198045 L3.86820887,4.86558049 C3.86741244,3.17182055 5.27124096,1.79378061 6.99683916,1.79298061 C8.72317121,1.79219941 10.1277118,3.16954055 10.1285272,4.86258049 L10.1293234,5.93368045 C10.1301198,6.29150044 10.4255322,6.58212043 10.7902333,6.58212043 L11.2950786,6.58212043 C11.6605747,6.58212043 11.9567835,6.29150044 11.9559901,5.93290045 L11.9551923,4.86180049 C11.954396,2.17980059 9.72960029,-0.00139932638 6.99602378,0 C4.26244727,0.00156307351 2.04011683,2.18440059 2.04072825,4.86640049 L2.0415246,5.93358045 C2.04232102,6.29140044 2.3377334,6.58202043 2.7024345,6.58202043 L3.20809519,6.58120043 Z" id="Path"></path>
                </g>
            </g>
        </g>
    </g>
</svg>