<?xml version="1.0" encoding="UTF-8"?>
<svg width="44px" height="44px" viewBox="0 0 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>2E3E3A4E-152F-4C87-B650-6BF9657057BB</title>
    <g id="PDP-Details" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Exportable-Icons" transform="translate(-547.000000, -772.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Fabric-Icons" transform="translate(136.000000, 92.000000)">
                <g id="Water-Barrier" transform="translate(387.000000, 660.000000)">
                    <g transform="translate(24.000000, 20.000000)" id="Group-7">
                        <g transform="translate(0.294686, 5.169721)">
                            <path d="M21.7766518,0 C21.0212743,0.00129456592 20.4092423,0.613326599 20.4079477,1.36870415 L20.4079477,31.8000302 C20.4079477,32.5559446 21.0207374,33.1687343 21.7766518,33.1687343 C22.5325663,33.1687343 23.145356,32.5559446 23.145356,31.8000302 L23.145356,1.36870415 C23.145356,0.612789722 22.5325663,0 21.7766518,0 Z" id="Path"></path>
                            <path d="M15.4787314,9.09412192 C15.7442542,9.36914986 16.1784769,9.38856916 16.4674902,9.13834119 C16.7565035,8.88811321 16.7994262,8.45558104 16.5652285,8.15343178 L9.88868021,0.467993344 C9.7254684,0.257426257 9.45927859,0.154258192 9.19679189,0.199835908 C8.9343052,0.245413624 8.71847619,0.432278568 8.63580285,0.685540709 C8.55312951,0.93880285 8.61714089,1.21701718 8.8021831,1.40868348 L15.4787314,9.09412192 Z" id="Path"></path>
                            <path d="M0.201923507,1.60152496 L6.87847177,9.28461167 C7.14399459,9.55963961 7.57821726,9.57905892 7.86723057,9.32883094 C8.15624389,9.07860297 8.19916658,8.64607079 7.96496888,8.34392153 L1.28842062,0.658483097 C1.12520881,0.44791601 0.859018989,0.344747945 0.596532294,0.390325661 C0.334045599,0.435903377 0.118216589,0.622768321 0.035543249,0.876030462 C-0.0471300908,1.1292926 0.0168812953,1.40750693 0.201923507,1.59917324 L0.201923507,1.60152496 Z" id="Path"></path>
                            <path d="M7.89441712,19.3641065 C8.19316868,19.1033807 8.2247186,18.6501135 7.96496888,18.3505129 L1.28842062,10.6674262 C1.12520881,10.4568591 0.859018989,10.353691 0.596532294,10.3992687 C0.334045599,10.4448465 0.118216589,10.6317114 0.035543249,10.8849735 C-0.0471300908,11.1382357 0.0168812953,11.41645 0.201923507,11.6081163 L6.87847177,19.291203 C7.13935162,19.5909485 7.59341162,19.6235315 7.89441712,19.3641065 Z" id="Path"></path>
                            <path d="M10.0086182,25.0976129 C10.269344,25.3963645 10.7226112,25.4279144 11.0222118,25.1681647 L17.3718703,19.6956998 C17.400091,19.676886 17.4330151,19.6698308 17.4588841,19.6486653 C17.7538879,19.3732321 17.7866988,18.916956 17.5341393,18.6021475 C17.5048923,18.5752403 17.473424,18.5508524 17.4400703,18.529244 L11.1092257,11.2388954 C10.9460139,11.0283283 10.679824,10.9251603 10.4173373,10.970738 C10.1548507,11.0163157 9.93902164,11.2031807 9.8563483,11.4564428 C9.77367496,11.7097049 9.83768635,11.9879193 10.0227286,12.1795856 L15.9561316,18.9995891 L10.0768182,24.0652055 C9.92854911,24.1916195 9.83766923,24.372595 9.82482597,24.5670154 C9.81198271,24.7614358 9.87826655,24.9527934 10.0086182,25.0976129 L10.0086182,25.0976129 Z" id="Path"></path>
                            <path d="M12.8048196,29.789305 C12.7958951,29.3979223 12.4766743,29.0849608 12.0851917,29.0837874 L6.45516121,29.0485115 L6.49278881,23.3902603 C6.49278881,22.9928208 6.1706004,22.6706324 5.77316086,22.6706324 C5.37572131,22.6706324 5.0535329,22.9928208 5.0535329,23.3902603 L5.01120184,29.7399187 C5.01120184,29.7399187 5.01120184,29.7399187 5.01120184,29.7399187 C5.01120184,29.7399187 5.01120184,29.7399187 5.01120184,29.7399187 C5.0124926,30.1368224 5.33392613,30.458256 5.7308298,30.4595467 L12.0804882,30.4995303 C12.4755943,30.5008654 12.7983869,30.184361 12.8048196,29.789305 L12.8048196,29.789305 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>