<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ width | default: '14px' }}" height="{{ height | default: '8px' }}" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Path</title>
    <g id="🔵-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Icons/Utility/White/24px/Chevron-Up" transform="translate(-5.000000, -8.000000)" stroke="currentColor" stroke-width="1.5">
            <g id="chevron-up-(6)" transform="translate(6.000000, 9.000000)">
                <polyline id="Path" points="12 6 6 0 0 6"></polyline>
            </g>
        </g>
    </g>
</svg>