{%- if section.settings.html != blank -%}
  <section class="container max-w-full md:max-w-680 lg:max-w-920 xl:max-w-1200 mb-10 lg:mb-20">
    {{- section.settings.html -}}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Stores Map",
  "settings": [
    {
      "type": "html",
      "id": "html",
      "label": "Map Embed Code"
    }
  ]
}
{% endschema %}