<div class="container py-12 px-4">

  <span class="text-left block text-[0.875rem] mb-6 font-bold uppercase tracking-[2px]">PRIMARY PALLETE</span>

  <div class="my-3 mt-19 mx-auto grid lg:grid-cols-6 items-stretch gap-x-2 gap-y-2">
    <div class="color-block py-10 px-10 bg-grey-one text-center text-white">Gray-1 #161718</div>
    <div class="color-block py-10 px-10 bg-grey-three text-center  text-white">Gray-3 “Dark Gray”#414042</div>
    <div class="color-block py-10 px-10 bg-grey-four text-center text-white">Gray-4 #828282</div>
    <div class="color-block py-10 px-10 bg-grey-five text-center text-black">Gray-5 #C5C5C5</div>
    <div class="color-block py-10 px-10 bg-grey-six text-center text-black">Gray-6 “Light Gray” #F1F2F2</div>
    <div class="color-block py-10 px-10 bg-grey-seven text-center text-black">Gray-7 #F9FAFA</div>
  </div>

  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Accents</span>

  <div class="my-3 mt-19 mx-auto grid lg:grid-cols-6 items-stretch gap-x-2 gap-y-2">
    <div class="color-block py-10 px-10 bg-orange-one text-center text-black">Orange-1 "PMS137C" #FFA400</div>
    <div class="color-block py-10 px-10 bg-orange-two text-center  text-black">Orange-2 #FFC866</div>
    <div class="color-block py-10 px-10 bg-orange-three text-center text-black">Orange-3 #FFEDCC</div>
    <div class="color-block py-10 px-10 bg-orange-four text-center text-black">Orange-4 #FFF6E5</div>
    <div class="color-block py-10 px-10 bg-blue-one text-center text-white">Blue-1 #005784</div>
    <div class="color-block py-10 px-10 bg-blue-two text-center text-black">Blue-2 #3FA0D1</div>
  </div>

  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Utility</span>

  <div class="my-3 mt-19 mx-auto grid lg:grid-cols-6 items-stretch gap-x-2 gap-y-2">
    <div class="color-block py-10 px-10 bg-error-one text-center text-black">Error-1 #DD2A11</div>
    <div class="color-block py-10 px-10 bg-error-two text-center  text-black">Error-2 #FF766C</div>
    <div class="color-block py-10 px-10 bg-success-one text-center text-black">Success-1 #4D772C</div>
    <div class="color-block py-10 px-10 bg-success-two text-center text-black">Success-2 #E7F39B</div>
  </div>



  <div class="grid grid-cols-2 gap-x-4">
    <div>
      <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Headings - Desktop</span>

      <h1 class="mb-11 font-lato">H1 Heading <br> Multi-line like this</h1>
      <h2 class="mb-11 font-lato">H2 Heading <br> Multi-line like this</h2>
      <h3 class="mb-11 font-lato">H3 Heading <br> Multi-line like this</h3>
      <h4 class="mb-11 font-lato">H4 Heading <br> Multi-line like this</h4>
      <h5 class="mb-11 font-lato">H5 Heading <br> Multi-line like this</h5>
      <h6 class="mb-11 font-lato">H6 Heading <br> Multi-line like this</h6>
    </div>

    <div class="force-mobile">
      <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Headings - Mobile</span>

      <h1 class="mb-11 font-lato">H1 Heading <br> Multi-line like this</h1>
      <h2 class="mb-11 font-lato">H2 Heading <br> Multi-line like this</h2>
      <h3 class="mb-11 font-lato">H3 Heading <br> Multi-line like this</h3>
      <h4 class="mb-11 font-lato">H4 Heading <br> Multi-line like this</h4>
      <h5 class="mb-11 font-lato">H5 Heading <br> Multi-line like this</h5>
      <h6 class="mb-11 font-lato">H6 Heading <br> Multi-line like this</h6>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-x-4">
    <div>
      <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Paragraph</span>

      <p class="mb-8 p1 text-regular">Regular Paragraph.  For over 40 years, Nathan has provided best-in-class essentials designed to help runners enhance and improve their performance, mile after mile and year after year. </p>
      <p class="mb-8 p2 text-small">Small Paragraph.  For over 40 years, Nathan has provided best-in-class essentials designed to help runners enhance and improve their performance, mile after mile and year after year.</p>
      <p class="mb-8 p3 text-xsmall">XSmall Paragraph.  For over 40 years, Nathan has provided best-in-class essentials designed to help runners enhance and improve their performance, mile after mile and year after year. </p>
    </div>

    <div>
      <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">LINKS</span>

      <div class="grid grid-cols-2 gap-x-4">
        <div>
          <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
            <p class="mb-4 text-regular">This is an <a href="#">inline link</a> example</p>
            <p class="mb-4 text-small">This is an <a href="#">inline link</a> example</p>
            <p class="mb-4 text-xsmall">This is an <a href="#">inline link</a> example</p>
          </div>
        
          <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
            <button class="button button-link"><span>Learn More</span></button>
          </div>
        </div>

        <div class="bg-grey-three">
          <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
            <p class="mb-4 text-grey-seven text-regular">This is an <a class="light" href="#">inline link</a> example</p>
            <p class="mb-4 text-grey-seven text-small">This is an <a class="light" href="#">inline link</a> example</p>
            <p class="mb-4 text-grey-seven text-xsmall">This is an <a class="light" href="#">inline link</a> example</p>
          </div>
        
          <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
            <button class="button button-link light"><span>Learn More</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Links</span>

  <div class="my-3 border-1 px-4 grid lg:grid-cols-4 items-start gap-x-2 gap-y-2">
    
  </div> {% endcomment %}

  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Buttons</span>

  <div class="my-3 grid lg:grid-cols-4 items-center gap-x-2 gap-y-2">
    <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
      <button class="button button-primary mb-4 w-full"><span>Primary</span></button>
      <button class="button button-primary button-small mb-4 w-full"><span>Primary Small</span></button>
      <button class="button button-primary button-xsmall w-full"><span>Primary XSmall</span></button>
    </div>

    <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
      <button class="button button-secondary mb-4 w-full"><span>Secondary</span></button>
      <button class="button button-secondary button-small mb-4 w-full"><span>Secondary Small</span></button>
      <button class="button button-secondary button-xsmall w-full"><span>Secondary XSmall</span></button>
    </div>

    <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
      <button class="button button-outline mb-4 w-full"><span>Outline</span></button>
      <button class="button button-outline button-small mb-4 w-full"><span>Outlined Small</span></button>
      <button class="button button-outline button-xsmall w-full"><span>Outlined XSmall</span></button>
    </div>

    <div class="mx-auto py-3 px-3 flex flex-col items-start w-full">
      <button class="button button-primary mb-4 w-full" disabled><span>Disabled</span></button>
      <button class="button button-secondary button-small mb-4 w-full" disabled><span>Disabled Small</span></button>
      <button class="button button-outline button-xsmall w-full" disabled><span>Disabled XSmall</span></button>
    </div>

  </div>


  <form id="test-form" class="grid lg:grid-cols-4 grid-cols-1 gap-x-6 mt-12">
    <div>
      <span class="text-left block text-[0.75rem] mb-6 font-bold uppercase tracking-[4px] text-grey-two">FORM FIELDS</span>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden" for="input-one">Input</label>
        <input id="input-one" type="text" name="input-one" id="input-one" required data-error-message="this input is required"
          placeholder="Text Input">
      </div>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden" for="input-two">Input</label>
        <input id="input-two" class="input-invalid" type="text" name="input-one" required data-error-message="this input is required"
          placeholder="Error Text Input">
        <span class="input-messaging input-error text-xsmall">
          <span class="inline-block">{%- render 'icon-error' -%}</span>
          Error message text go here.
        </span>
      </div>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden" for="input-three">Input</label>
        <input id="input-three" type="text" name="input-one" class="input-success" required data-error-message="this input is required"
          placeholder="Successful Text Input">
        <span class="input-messaging input-success text-xsmall">
          <span class="inline-block">{%- render 'icon-success' -%}</span>
          Success message can go here!
        </span>
      </div>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden disabled-label" for="input-four">Disabled message label</label>
        <input id="input-four" type="text" name="input-one" class="input-disabled" required data-error-message="this input is required"
          placeholder="Disabled Text Input" disabled="disabled">
      </div>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden" for="input-five">Number Input</label>
        <input type="number" name="input-five" id="input-five" min="1" max="3" required
          data-error-message="please enter a number between 1 and 3" placeholder="0">
      </div>

      <div class="mb-6 input-wrap w-full">
        <label class="hidden" for="input-six">Text Area</label>
        <textarea id="input-six" name="story" rows="5" cols="33" placeholder="Textarea"></textarea>
      </div>
    </div>
    
    <div>
      <span class="text-left block text-[0.75rem] mb-6 font-bold uppercase tracking-[4px] text-grey-two">Dropdowns</span>

      <div class="select-wrap mb-6 w-full">
        <label class="hidden" for="my-select">Dropdown label</label>
        <select id="my-select">
          <option>Option One</option>
          <option>Option Three</option>
          <option>Option Two</option>
          <option>Option Four</option>
        </select>
      </div>

      <div class="select-wrap mb-6 w-full">
        <label class="hidden disabled-label" for="my-select-2">Disabled Dropdown label</label>
        <select id="my-select-2" disabled="disabled">
          <option>Disabled Dropdown</option>
          <option>Option One</option>
          <option>Option Three</option>
          <option>Option Two</option>
          <option>Option Four</option>
        </select>
      </div>
    </div>
    
    <div class="flex flex-col">
      <span class="text-left block text-[0.75rem] mb-6 font-bold uppercase tracking-[4px] text-grey-two">Checkboxes</span>

      <div class="mb-4 check-wrap">
        <input type="checkbox" name="input-checkbox-1" id="input-checkbox-1">
        <label for="input-checkbox-1">This is a checkbox</label>
      </div>

      <div class="mb-4 check-wrap">
        <input type="checkbox" name="input-checkbox-2" id="input-checkbox-2">
        <label for="input-checkbox-2">This is a checkbox</label>
      </div>

      <div class="mb-4 check-wrap">
        <input type="checkbox" name="input-checkbox-3" id="input-checkbox-3" disabled="disabled">
        <label for="input-checkbox-3">This is a disabled checkbox</label>
      </div>
    </div>

    <div class="flex flex-col">
      <span class="text-left block text-[0.75rem] mb-6 font-bold uppercase tracking-[4px] text-grey-two">Radio Buttons</span>

      <div class="mb-4 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-1">
        <label for="input-radio-1">This is a radio button</label>
      </div>
      <div class="mb-4 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-2">
        <label for="input-radio-2">This is a radio button</label>
      </div>
      <div class="mb-4 radio-wrap">
        <input type="radio" name="styleguid-radios" id="input-radio-3" disabled="disabled">
        <label for="input-radio-3">This is a radio button</label>
      </div>
    </div>
  </form>

  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Table</span>

  <div class="table-container">
    <table>
      <tbody>
        <tr>
          <td>Order Value</td>
          <td>Standard Ground</td>
          <td>3-Day</td>
        </tr>
        
        <tr>
          <td>$0.00 - $25.00</td>
          <td>$4.99</td>
          <td>$16.99</td>
        </tr>
        
        <tr>
          <td>$25.01 - $50.00</td>
          <td>$7.99</td>
          <td>$19.99</td>
        </tr>
        
        <tr>
          <td>$50.01 - $100.00</td>
          <td>$12.99</td>
          <td>$27.99</td>
        </tr>
        
        <tr>
          <td>$150.01 - $200.00</td>
          <td>$19.99</td>
          <td>$31.99</td>
        </tr>

        <tr>
          <td>$150.01 - $200.00</td>
          <td>$19.99</td>
          <td>Dolor sit amet</td>
        </tr>
      </tbody>
    </table>
  </div>


  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">Blockquote</span>

  <div class="grid grid-cols-12 gap-x-4">

    <div class="col-span-12">
      <blockquote class="blockquote">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod temp or sed incididunt ut labore et dolore magna aliqua. Vulputate odio ut enim blandit volutpat maecenas. Dapi bus ultrices in iacul is nunc sed augue lacus viverra vitae. Integer quis auctor elit sed vulputate.
      </blockquote>
    </div>
  </div>

  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">List - Ordered</span>

  <div class="grid grid-cols-12 gap-x-4">
    <ol class="col-span-12 text-grey-two">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mollis leo. Proin congue, ex et lobortis auctor, purus mauris mattis arcu, vitae porttitor eros libero quis nisi.</li>
      <li>Phasellus sit amet tortor quis velit varius aliquet. Suspendisse potenti. Nulla viverra sed magna ut scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mi nibh. Nunc ac rutrum nibh. Vestibulum in justo ultrices erat tempus mollis ac eget nibh.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mollis leo. Proin congue, ex et lobortis auctor, purus mauris mattis arcu, vitae porttitor eros libero quis nisi.</li>
    </ol>
  </div>
    
  <span class="text-left block text-[0.75rem] mt-12 mb-6 font-bold uppercase tracking-[4px] text-grey-two">List - Unordered</span>

  <div class="grid grid-cols-12 gap-x-4">
    <ul class="col-span-12 text-grey-two">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mollis leo. Proin congue, ex et lobortis auctor, purus mauris mattis arcu, vitae porttitor eros libero quis nisi.</li>
      <li>Phasellus sit amet tortor quis velit varius aliquet. Suspendisse potenti. Nulla viverra sed magna ut scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut mi nibh. Nunc ac rutrum nibh. Vestibulum in justo ultrices erat tempus mollis ac eget nibh.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec mollis leo. Proin congue, ex et lobortis auctor, purus mauris mattis arcu, vitae porttitor eros libero quis nisi.</li>
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Styleguide",
    "presets": [
      {
        "name": "Styleguide"
      }
    ]
  }
{% endschema %}