<!--
{% assign blog_handles = "Our Impact,How To,Gear Up,Cycling Culture,Riders & Rides,Destinations" | split: "," %}
<div class="justify-center items-center bg-white hidden lg:flex shadow-nav blog-menu">
    <a href="/blogs/pearl-izumi-journal" class="group relative mx-4 h-14 uppercase flex justify-center items-center font-sora font-semibold text-special-xs">
        <span class="group-hover:text-pine {% if request.path == '/blogs/pearl-izumi-journal' %}text-pine{% endif %}">All Posts</span>
        <div class="absolute left-0 w-full h-px opacity-0 bg-pine group-hover:opacity-100 transition-opacity duration-300 ease-in-out {% if request.path == '/blogs/pearl-izumi-journal' %}opacity-100{% endif %}" style="bottom: 0px;"></div>
    </a>
    {% for handle in blog_handles %}
        <a class="group relative mx-4 h-14 uppercase flex justify-center items-center font-sora font-semibold text-special-xs" href="/blogs/pearl-izumi-journal/tagged/{{ handle | handleize }}">
            <span class="group-hover:text-pine {% if current_tags.first == handle %}text-pine{% endif %}">{{ handle }}</span>
            <div class="absolute left-0 w-full h-px opacity-0 bg-pine group-hover:opacity-100 transition-opacity duration-300 ease-in-out {% if current_tags.first  ==  handle %}opacity-100{% endif %}" style="bottom: 0px;"></div>
        </a>
    {% endfor %}
</div>
-->