<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ width }}" height="{{ height }}" viewBox="0 0 16 16" version="1.1">
  <title>B188D2BC-6698-4E8D-A520-5E193C0B3205@1x</title>
  <g id="Homepage---READY-FOR-DEV" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="HP-/-Desktop" transform="translate(-718.000000, -4542.000000)">
          <g id="Group-8" transform="translate(0.000000, 4039.000000)">
              <g id="Group-12" transform="translate(300.000000, 120.000000)">
                  <g id="Group-5" transform="translate(327.000000, 379.000000)">
                      <g id="Group-4" transform="translate(91.000000, 4.000000)">
                          <circle id="Oval" fill="#007CBA" cx="8" cy="8" r="8"/>
                          <g id="Check" transform="translate(4.000000, 4.800000)" stroke="#FCFCFC" stroke-linecap="round" stroke-linejoin="round">
                              <polyline id="Path" points="8.53333333 0 2.66666667 5.86666667 0 3.2"/>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>