<?xml version="1.0" encoding="UTF-8"?>
<svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>EE3DD2DD-76C2-4722-8635-5A71FCCB90E7</title>
    <g id="CLP" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D---CLP---Default-Annotated" transform="translate(-673.000000, -11407.000000)">
            <g id="Group-12" transform="translate(119.000000, 9871.000000)">
                <g id="Group-3-Copy" transform="translate(554.000000, 1536.000000)">
                    <circle id="Oval" fill-opacity="0.6" fill="#FCFCFC" cx="47" cy="47" r="47"></circle>
                    <path d="M51,32.6666667 L73,62 L29,62 L51,32.6666667 Z" id="Triangle" stroke="#F8F8F8" stroke-width="2" fill="#F8F8F8" transform="translate(51.000000, 47.000000) rotate(90.000000) translate(-51.000000, -47.000000) "></path>
                </g>
            </g>
        </g>
    </g>
</svg>