<div class="max-w-1200 w-full mx-auto bg-white fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-40 max-h-autocomplete overflow-y-auto hidden" id="quickshop-modal">
  <span tabindex="0" class="modal-close absolute top-5 right-5 inline-flex items-center justify-center z-50 cursor-pointer hover:text-pine" onclick="eHS.quickshop.closeQuickshopModal()">{%- render 'svg-close' -%}</span>
  <div class="quickshop-content h-full flex justify-center flex-col"></div>
</div>