<div class="lg:mb-18 mb-12">
  <div class="lg:mb-6 mb-6">
    <img class="lazy w-full" data-src="{% include 'shortcode-render' render:'image_src' %}">
  </div>
  <p class="p-s m-0">{% include 'shortcode-render' render:'content' %}</p>
</div>