<!-- This hidden element is used to compile GCT-specific tailwind classes -->
<span class="text-h7 text-h8 text-h7-m text-h8-m md:text-h7 md:text-h8 md:text-h7-m md:text-h8-m lg:text-h7 lg:text-h8 lg:text-h7-m lg:text-h8-m xl:text-h7 xl:text-h8 xl:text-h7-m xl:text-h8-m 2xl:text-h7 2xl:text-h8 2xl:text-h7-m 2xl:text-h8-m hidden"></span>

<h5 class="{% include 'shortcode-render' render:'classes' %}">{% include 'shortcode-render' render:'content' %}</h5>