<?xml version="1.0" encoding="UTF-8"?>
<svg width="{{ width | default: '30px' }}" height="{{ height | default: '30px' }}" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>AD432683-3C7D-4257-B1FA-4F1B06B2EAE2</title>
    <g id="PDP-Gallery" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="D-PDP-Gallery----thumbnails-slider" transform="translate(-247.000000, -807.000000)" fill="currentColor">
            <g id="Group-3" transform="translate(247.000000, 807.000000)">
                <path d="M11.3161853,22.5965207 C14.208834,22.5965207 16.8428397,21.4980104 18.8443158,19.7091134 L20.5649402,21.4271171 L19.7026625,22.2880844 L26.8934618,29.4684688 C27.2478276,29.8228346 27.7137411,29.9986903 28.1796546,29.9986903 C28.6455682,29.9986903 29.1114817,29.8215108 29.4658475,29.4684688 C29.8096968,29.1246195 30,28.6678784 30,28.1822753 C30,27.6966729 29.8110072,27.2399319 29.4671578,26.8960825 L22.2777024,19.7183867 L21.4154247,20.579354 L19.6961107,18.8626607 C21.513869,16.85722 22.6307578,14.2085652 22.6307578,11.2975716 C22.6307578,5.06735985 17.5556703,0 11.3160509,0 C5.07676749,0.00131371018 8.95249899e-16,5.06870379 8.95249899e-16,11.2989155 C8.95249899e-16,17.5291273 5.0764315,22.5964871 11.3160509,22.5964871 L11.3161853,22.5965207 Z M28.6181852,27.7451895 C28.7349945,27.8619988 28.7993025,28.0168654 28.7993025,28.1822417 C28.7993025,28.3462976 28.7349912,28.5024782 28.6181852,28.6192943 C28.3753806,28.8607851 27.9816573,28.8607851 27.7401497,28.6192943 L21.4010781,22.289294 L22.2778032,21.4138792 L28.6181852,27.7451895 Z M11.3161853,1.20085206 C16.8942458,1.20085206 21.4310817,5.73130427 21.4310817,11.2989491 C21.4310817,16.866594 16.8939098,21.3970462 11.3161853,21.3970462 C5.73812481,21.3970462 1.20128885,16.866594 1.20128885,11.2989491 C1.20128885,5.73130427 5.7384608,1.20085206 11.3161853,1.20085206 Z" id="Fill-1"></path>
                <polygon id="Fill-2" points="10.7218238 16.3743727 11.9213991 16.3743727 11.9213991 11.8990224 16.3967494 11.8990224 16.3967494 10.6994471 11.9213991 10.6994471 11.9213991 6.22409678 10.7218238 6.22409678 10.7218238 10.6994471 6.24647353 10.6994471 6.24647353 11.8990224 10.7218238 11.8990224"></polygon>
            </g>
        </g>
    </g>
</svg>