<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/VrLWn7VsCPnD9wJJwJMqXw" async=""></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="779009"></div>

{% schema %}
{
  "name": "Rewards",
  "settings": [
    {
      "type": "header",
      "content": "Rewards"
    },
    {
      "type": "text",
      "id": "rewards_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "rewards_text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Rewards",
      "category": "Custom"
    }
  ]
}
{% endschema %}