<div class="shogun-root" data-shogun-id="67a0f0dd24bd5d8759c850a8" data-shogun-site-id="f9959236-c11a-461d-83e5-092cb935b5f6" data-shogun-section-id="67a0f0dd24bd5d8759c850a8" data-shogun-section-version-id="67a0f13a1fd4ce885bf07702" data-shogun-platform-type="shopify" data-shogun-variant-id="67a0f13a1fd4ce885bf0784e" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-01-22-0523/67a0f13a1fd4ce885bf07702_67a0f13a1fd4ce885bf0784e.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sora:700,600,600,normal"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-01-29-1744/global-assets-967d4636d8790e495a4be8d9b9bb4dc92e78dde2.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-3bbfba96-bc30-43bf-8948-9d8626663d85"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-2aa702b3-04a5-465c-abea-d8f4a0857082"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-e258d4bb-2797-4790-aad8-2400ac75254c"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-6e410115-ef32-4f8b-9067-44673c1d3eb5-root"> <div class="shg-image-margin-container-s-6e410115-ef32-4f8b-9067-44673c1d3eb5" id="wrap-s-6e410115-ef32-4f8b-9067-44673c1d3eb5"> <div class="s-6e410115-ef32-4f8b-9067-44673c1d3eb5 shg-align-container"> <div class="shg-c s-6e410115-ef32-4f8b-9067-44673c1d3eb5 shogun-image-container shg-align-center" style="opacity: 1;" id="s-6e410115-ef32-4f8b-9067-44673c1d3eb5"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/e3b3a544-6a7e-4324-b79b-863bbc6e75d6/" alt="PEARL iZUMI Winter Cycling Gear" class="shogun-image " decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-6e410115-ef32-4f8b-9067-44673c1d3eb5" }
    }
  </script> </div> </div> </div></div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-7b81cb11-cd6f-4287-ab4b-a70c57f70445"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-c2f81845-5346-4ec6-aeb5-e375b75950e8" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h6> COLD WEATHER CYCLING GEAR<br> </h6> </div> </div> <div id="s-0a03c6e8-7de1-46bd-bdd7-a5ed301d94b0" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> MASTER WINTER RIDING<br> </h1> </div> </div> <div id="s-235f72ac-b257-4075-9be5-5ccfebdba7de" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px;"><span style="font-size: 16px; font-family: Sora; font-weight: 600; color: rgb(0, 0, 0);" data-fontfamily="Sora" data-fontweight="600">Winter's officially here and it's time to embrace the cold. Whether you're training for a big race, avoiding the trainer, or just need fresh air, the right layering can keep you comfortable on every ride.</span></p></div> </div> <div id="s-f10f2f27-6cfb-439a-b5ed-ead22cd91a83-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-f10f2f27-6cfb-439a-b5ed-ead22cd91a83" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> <div id="s-0caba378-930d-4ce3-ae10-17ed4b005544-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-0caba378-930d-4ce3-ae10-17ed4b005544" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/ride-365-cold-weather"> SHOP WINTER CYCLING GEAR </a> </div> </div> </div> </div> </div> </div> </div> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-aa6b871e-2e71-40c5-b732-7a95f4ab2ce7"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-542de607-c2f3-4ad4-9ca2-4a260dea756a-root"> <div class="shg-image-margin-container-s-542de607-c2f3-4ad4-9ca2-4a260dea756a" id="wrap-s-542de607-c2f3-4ad4-9ca2-4a260dea756a"> <div class="s-542de607-c2f3-4ad4-9ca2-4a260dea756a shg-align-container"> <div class="shg-c s-542de607-c2f3-4ad4-9ca2-4a260dea756a shogun-image-container shg-align-center" style="opacity: 1;" id="s-542de607-c2f3-4ad4-9ca2-4a260dea756a"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/e5266ad1-6d43-4d47-9df8-26e9ffe40ed9/" alt="PEARL iZUMi Winter Cycling Gear" class="shogun-image " decoding="async" loading="eager"/> <div class="shg-imageV2-content shogun-image-content shogun-image-content-not-linked"> <div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-115c03ef-d182-46f8-b9b1-a148629fc982"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-05e85c70-c8a8-4817-bbac-6ef0c11d356a" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h6> COLD WEATHER CYCLING GEAR<br> </h6> </div> </div> <div id="s-3eee68d7-104c-44d1-b102-5982f75c19ec" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> MASTER WINTER RIDING<br> </h1> </div> </div> <div id="s-87356602-4d17-4385-9614-730a97a7c7ad" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px;"><span style="color: rgb(0, 0, 0); font-family: Sora;"><span style="font-size: 16px;"><strong>Winter's officially here and it's time to embrace the cold. Whether you're training for a big race, avoiding the trainer, or just need fresh air, the right layering can keep you comfortable on every ride.</strong></span></span></p></div> </div> <div id="s-57f96c2d-0913-41d3-ad44-4dcc5062fc7e-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-57f96c2d-0913-41d3-ad44-4dcc5062fc7e" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/ride-365-cold-weather"> SHOP WINTER CYCLING GEAR </a> </div> <div id="s-d28356fc-1bbf-4831-b506-542074ab2677-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-d28356fc-1bbf-4831-b506-542074ab2677" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-542de607-c2f3-4ad4-9ca2-4a260dea756a" }
    }
  </script> </div> </div> </div></div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "HP 2/3 -  Winter Riding",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=67a0f0dd24bd5d8759c850a8&shop=www.pearlizumi.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "HP 2/3 -  Winter Riding",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
