<div class="shogun-root" data-shogun-id="68a47b51515f404a762773f2" data-shogun-site-id="f9959236-c11a-461d-83e5-092cb935b5f6" data-shogun-section-id="68a47b51515f404a762773f2" data-shogun-section-version-id="68a7ed87ce4784eed82d866f" data-shogun-platform-type="shopify" data-shogun-variant-id="68a7ed87ce4784eed82d8788" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-08-04-5653/68a7ed87ce4784eed82d866f_68a7ed87ce4784eed82d8788.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sora:700,400,600,500"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-07-11-0030/global-assets-61dce5f6170624dea91efd70f1e9bfc45e21ef53.js" defer></script> <script type="text/javascript" src="https://a.shgcdn2.com/jarallax-01f8997238c2f396dfe6f03c89d07de4.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c show-all-pro " id="s-729766a1-9fa4-449c-8fbc-2ae6923f5f08"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-fbf54a35-fba4-4901-99d7-777fcd2d7104"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-839f870f-3406-4872-a7f5-d02e628a5afc"> <div class="shg-box-overlay"></div><div class="shg-box-video-wrapper"></div><div class="shg-box-content"> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-a5e01f90-c7df-40ba-9979-570c17dafc23"> <div class="shg-box-overlay"></div><div class="shg-box-content"> </div> </div> </div></div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-cd0eedff-491f-4e39-9a05-da398a2b10c4"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-a9493a80-9455-43ec-adc2-99e07311d0b0" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> EXTRA 10% OFF<br>PRO DEAL<br> </h1> </div> </div> <div id="s-8121f963-e783-4a4e-b4d4-45fc2db64dfa" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><div style="text-align: center;"><span style="font-family: Sora; font-weight: 400; font-size: 14px; letter-spacing: 2px;" data-fontfamily="Sora" data-fontweight="400" data-letterspacing="2px"> BUILT TO RIDE. PRICED TO MOVE.<br>Add an extra 10% off to your current pro deal, no code required.</span></div></div> </div> <div id="s-991fc36c-6784-4dad-bfe3-951ff77f5fcd-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-991fc36c-6784-4dad-bfe3-951ff77f5fcd" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/all"> SHOP NOW </a> </div> </div> </div> </div> </div> </div> </div><script class="__SHG_DATA__" type="application/json">
      {
        "__shgVideoParallax": {
          "id": "#s-839f870f-3406-4872-a7f5-d02e628a5afc",
          "url": "",
          "sound": false,
          "speed": 1,
          "backupImage": ""
        }
      }
    </script> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-afe5fa80-431f-4478-a3d7-5f73ecedd9b6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-c733d667-83f1-4c83-a2f6-e621597a22c6"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-349923bc-3da2-4d69-b7c5-37a369fb80f3" class="shg-c shg-align-left"> <div class="shogun-heading-component"> <h1> EXTRA 10% OFF<br>PRO DEAL<br> </h1> </div> </div> <div id="s-33621876-b9f2-44ae-b1fc-bb0d1ed6b469" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="line-height: normal; text-align: left;"><span style="font-family: Sora; font-weight: 400; font-size: 18px; color: rgb(255, 255, 255); letter-spacing: 2px;" data-fontfamily="Sora" data-fontweight="400" data-letterspacing="2px">BUILT TO RIDE. PRICED TO MOVE.<br>Add an extra 10% off to your current pro deal, no code required.</span></p></div> </div> <div id="s-21f93e83-929c-432f-b5e7-7d37a61a8912-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-21f93e83-929c-432f-b5e7-7d37a61a8912" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/all"> SHOP NOW </a> </div> <div id="s-992850b7-08b6-4575-961a-09a9a0334886-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-992850b7-08b6-4575-961a-09a9a0334886" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> </div> </div> </div> </div> </div> </div></div> </div> </div> </div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "HP_Hero_Static_Pro",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=68a47b51515f404a762773f2&shop=www.pearlizumi.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "HP_Hero_Static_Pro",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
