<div class="shogun-root" data-shogun-id="67c5ff7746b05fba53386e7d" data-shogun-site-id="f9959236-c11a-461d-83e5-092cb935b5f6" data-shogun-section-id="67c5ff7746b05fba53386e7d" data-shogun-section-version-id="67c607ab38cad320c03a7dbc" data-shogun-platform-type="shopify" data-shogun-variant-id="67c607ab38cad320c03a7ef4" data-shogun-page-type="section" data-shogun-power-up-type="" data-shogun-power-up-id="" data-region="main"> <link rel="stylesheet" type="text/css" href="https://a.shgcdn2.com/css-2025-01-22-0523/67c607ab38cad320c03a7dbc_67c607ab38cad320c03a7ef4.css"/> <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sora:600,700,600"/> <script type="text/javascript" src="https://a.shgcdn2.com/js-2025-02-19-4315/global-assets-039f7261dba47805001bb97cd92fd16a8c51eeca.js" defer></script> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-351671ca-684d-4f06-9caf-0a923d80cefe"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-138f3186-f789-4ced-9345-00a00e0829f1"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-96c71cac-67e0-4875-88b2-8d2d0fd0f7e3"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-a386fa14-d171-4b6c-8b84-7adf76e32d07-root"> <div class="shg-image-margin-container-s-a386fa14-d171-4b6c-8b84-7adf76e32d07" id="wrap-s-a386fa14-d171-4b6c-8b84-7adf76e32d07"> <div class="s-a386fa14-d171-4b6c-8b84-7adf76e32d07 shg-align-container"> <div class="shg-c s-a386fa14-d171-4b6c-8b84-7adf76e32d07 shogun-image-container shg-align-center" style="opacity: 1;" id="s-a386fa14-d171-4b6c-8b84-7adf76e32d07"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/a74ca10d-ade1-4e7d-bbec-2623ca8e22a2/-/format/auto/-/quality/lightest/" alt="Two cyclists racing on a dirt trail in a sunny landscape." class="shogun-image shogun-image-normal" decoding="async" loading="eager"/> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-a386fa14-d171-4b6c-8b84-7adf76e32d07" }
    }
  </script> </div> </div> </div></div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-0bcc596f-25f2-41dc-8e70-d6aa175093fa"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e3e7ba02-5d8e-499f-be01-aef798c08957" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><div style="text-align: center; line-height: 5px;"><span style="font-family: Sora; font-weight: 600; font-size: 14px;" data-fontfamily="Sora" data-fontweight="600">SPRING IS HERE</span></div></div> </div> <div id="s-6d239539-951e-4587-a86f-68f0b44449f2" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> NEW SEASON DROP<br> </h1> </div> </div> <div id="s-f77a5047-ff51-484a-85f0-5409893b68da" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-align: center; line-height: 24px; font-size: 16px; font-family: Sora; font-weight: 600; color: rgb(0, 0, 0);">Adventure season has arrived. Ride further and explore more with all-day comfort for every ride, from cool mornings to long afternoons. Our all-new collection is now available!</p></div> </div> <div id="s-f36408b2-9763-45ca-a0f0-5dac148cb80c-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-f36408b2-9763-45ca-a0f0-5dac148cb80c" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> <div id="s-773396a6-978e-4218-b229-be122e68bd7d-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-773396a6-978e-4218-b229-be122e68bd7d" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> SHOP NEW GEAR </a> </div> </div> </div> </div> </div> </div> </div> <div class="shg-fw"><div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-6dca3dd1-dedd-475e-a33e-ea6cba43b5cc"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9-root"> <div class="shg-image-margin-container-s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9" id="wrap-s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9"> <div class="s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9 shg-align-container"> <div class="shg-c s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9 shogun-image-container shg-align-center" style="opacity: 1;" id="s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9"> <div class="shg-image-content-wrapper"> <img src="https://i.shgcdn.com/b49eb7d2-c250-4aa0-988b-57e9bca945aa/-/format/auto/-/quality/lightest/" alt="Two cyclists riding on a dirt trail in a desert landscape." class="shogun-image " decoding="async" loading="eager"/> <div class="shg-imageV2-content shogun-image-content shogun-image-content-not-linked"> <div> <div class="shg-box-vertical-align-wrapper"> <div class="shg-box shg-c " id="s-f1522749-7e80-4360-b7c5-8b10580f9926"> <div class="shg-box-overlay"></div><div class="shg-box-content"> <div id="s-2dfbca3c-5f93-4f2e-92aa-dce14a29c521" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><div style="text-align: center; line-height: 5px;"><span style="font-family: Sora; font-weight: 600; font-size: 18px; color: rgb(255, 255, 255);" data-fontfamily="Sora" data-fontweight="600">SPRING IS HERE</span></div></div> </div> <div id="s-9298b07b-bdca-4376-aa88-e1c5dcf0c66c" class="shg-c shg-align-center"> <div class="shogun-heading-component"> <h1> NEW SEASON DROP<br> </h1> </div> </div> <div id="s-a4ea56dd-9c54-4456-a078-c66723e75d9c" class="shg-c "> <div class="shg-rich-text shg-theme-text-content"><p style="text-shadow: 0 0 1px #505050; text-align: center; line-height: 24px; color: rgb(0, 0, 0); font-family: Sora; font-size: 16px;"><span style="color: rgb(255, 255, 255);"><strong>Adventure season has arrived. Ride further and explore more with all-day comfort for every ride, from cool mornings to long afternoons. Our all-new collection is now available!</strong></span></p></div> </div> <div id="s-a40b0a50-4d5a-4ff7-990c-75c428d2bde6-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-a40b0a50-4d5a-4ff7-990c-75c428d2bde6" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> SHOP NEW GEAR </a> </div> <div id="s-b379a9e3-0370-4d1d-88be-2eebe3a3b26c-root" class="shg-c shg-btn-wrapper shg-align-center"> <a id="s-b379a9e3-0370-4d1d-88be-2eebe3a3b26c" class="shg-btn shg-cse shg-btn-text " href="https://www.pearlizumi.com/collections/new-arrivals"> EXPLORE THE FALL COLLECTION </a> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> </div> <script class="__SHG_DATA__" type="application/json">
    {
      "__shgImageV2Elements": { "uuid": "s-e1a43b8e-1ec6-400f-b5bf-da5bfbb52be9" }
    }
  </script> </div> </div> </div></div> </div> </div> </div> </div>
{% schema %}
  {
    "name": "HP 3/04 - S25 Launch",
    "settings": [
      {
        "type": "header",
        "content": "SHOGUN SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Shogun](https://getshogun.com/shopify/deep_links/edit_section?id=67c5ff7746b05fba53386e7d&shop=www.pearlizumi.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Shogun Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "HP 3/04 - S25 Launch",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
