.App {
  text-align: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none
}

@media (prefers-reduced-motion:no-preference) {
  .App-logo {
      animation: App-logo-spin 20s linear infinite
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff
}

.App-link {
  color: #61dafb
}

@keyframes App-logo-spin {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}

.toggle-wrapper {
  width: 100%;
  display: flex;
  align-items: center
}

.toggle-left {
  justify-content: flex-start
}

.toggle-center {
  justify-content: center
}

.toggle-right {
  justify-content: flex-end
}

.toggle-container {
  margin-bottom: 1rem;
  display: flex;
  align-items: center
}

.toggle-logo {
  height: 3rem;
  width: 3rem;
  background-image: url(https://i.imgur.com/Jc3igg7.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%
}

.toggle-content {
  padding: 0 .5rem
}

.toggle-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: .125rem;
  color: #123931;
}

.toggle-subtitle {
  font-size: .675rem;
  color: #123931;
}

.switch-container {
  text-align: left
}

.cart .switch-container,.switch-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.switch-container span {
  display: block
}
